@use "sass:math";

$white: #ffffff;
$black: #000000;
$main-blue: #011950;
$logo-blue: #061944;
$back-blue: #001135;
$border: #242424;
$font: #001e63;
$gray: #f8f8f8;
$tag: #626262;
$label: #f3f3f3;
$border-card: #e2e2e2;
$time: #a9a9a9;
$page: #e9eeef;
$news-under: #e4e4e4;
$article: #040404;
