@use "sass:math";
////////////////////
// フォント設定
////////////////////

$base-font-family: "Noto Sans JP", sans-serif;
// ※検証ツールでしっかり反映されているか確認する
$eng-fonts: "Oswald", sans-serif;

$header-font: "Roboto", sans-serif;
$footer-font: "Roboto", sans-serif;

