@use "../../global/" as *;

.detail-header__btn .hamberger .menu__button {
  position: absolute;
  left: 0;
  display: block;
  z-index: 1001;
  height: 1px;
  width: 25px;
  background-color: #242424;
  border-radius: 999px;
  transform-origin: left center;
  transition: ease-in-out 0.5s;
}
.menu__button:first-child {
  top: 0rem;
}
.hamberger .menu__button:nth-child(2) {
  top: 0.75rem;
  width: 20px;
}
.hamberger .menu__button:nth-child(3) {
  top: 1.5rem;
  width: 15px;
}
.main-fv.works__fv {
  height: 100%;
  position: relative;
  z-index: 1;
  padding-top: 0rem;
  @include mq("md") {
    padding-top: 5rem;
    min-height: 100%;
  }
}
.works__fv--inner {
  height: inherit;
}
.main-fv__container.works__fv__container {
  width: 100%;
  height: inherit;
  margin-top: 5rem;
  @include mq("md") {
    width: 88.19%;
    max-width: 1270px;
    margin: 0 0 0 auto;
  }
}
.works__all {
  margin-top: 1.875rem;
  @include mq("md") {
    margin-top: 7rem;
  }
}
.works__all--inner {
  max-width: 600px;
  padding: 1.875rem 1.25rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include mq("md") {
    max-width: 1110px;
    flex-direction: row;
    padding: 0 1.25rem 0 1.25rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.works__fv__container picture {
  aspect-ratio: 365 /280;
  @include mq("md") {
    aspect-ratio: 1270 /514;
  }
}
.works__all--wrapper {
  display: flex;
  padding: 0 1.25rem;
  max-width: 600px;
  width: 100%;
  @include mq("md") {
    width: 24%;
    flex-direction: column;
    margin: 0 0 0 3.125rem;
    // ここを追加
    position: sticky;
    top: 6rem;
    align-self: flex-start;
    height: fit-content;
    padding: 0 0.5rem;
  }
}
.works__all--informaition {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // 横並び
  justify-content: space-between;
  row-gap: 0.9375rem;
  column-gap: 3.375rem;
  width: 100%;
  padding: 2.375rem 0.875rem 2.375rem;
  border-bottom: 1px solid $border-card;
  @include mq("md") {
    display: flex;
    flex-direction: column;
    row-gap: initial;
    column-gap: initial;
    max-width: 154px;
    border-bottom: none;
  }
}
.works__all--informaition h2 {
  font-family: $base-font-family;
  font-size: 0.75rem;
  line-height: 1.4166666667;
  color: $black;
  position: relative;
  margin-right: 0.5rem;
  @include mq("md") {
    font-size: 0.875rem;
  }
}
.works__all--informaition p {
  font-family: $base-font-family;
  font-size: 0.75rem;
  line-height: 1.4166666667;
  color: $time;
  min-width: 132px;
  @include mq("md") {
    font-size: 0.875rem;
    min-width: 154px;
    margin-top: 1.25rem;
  }
}
.works__all--informaition h2::before {
  position: absolute;
  top: 0.375em;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  left: -0.75rem;
  background-color: $font;
  display: block;
}
.works__contents {
  margin-top: 1.25rem;
  width: 100%;
  padding: 0 1.25rem;
  @include mq("md") {
    margin-top: 0;
    height: 100%;
    width: 69.666%;
    padding: 0 3.75rem;
    border-left: 1px solid $border-card;
  }
}
.works__contents > .works__contents--nav:first-child {
  margin-top: 0;
}
.works-contents__wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border-bottom: 1px solid $border-card;
  @include mq("md") {
    padding: 0 0 3.125rem 0;
  }
}
.works-contents__wrapper img {
  display: block;
  width: 44.06%;
  aspect-ratio: 130 / 100;
  object-fit: cover;
  @include mq("md") {
    flex: 0 0 29%;
    max-width: 290px;
    width: 20.61%;
    aspect-ratio: 1;
    overflow: hidden;
  }
}
.works__card--heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 50%;
  margin-left: 2.0625rem;
  @include mq("md") {
    margin-left: 1.875rem;
  }
}
.works-nav__active {
  padding-bottom: 1.875rem;
  @include mq("md") {
    padding: 0;
  }
}
.nav__card--title {
  font-family: $base-font-family;
  font-weight: $medium;
  line-height: 2;
  padding-bottom: 1.25rem;
  margin-top: 1.25rem;
  font-size: 0.875rem;
  position: relative;
  @include mq("md") {
    font-size: 1.5rem;
    letter-spacing: normal;
    padding-right: 0.25rem;
    line-height: 1.458;
    margin-top: 1.875rem;
    padding-bottom: 0;
  }
}
/* 下線 */

/* works__cardをホバーしたら下線を伸ばす */
.nav__card:hover .nav__card-title::after {
  transform: scaleX(1);
  /* ホバーしたときはゆっくり伸びる */
  transition: transform 0.6s ease;
}
.nav__card--txt {
  color: $black;
  line-height: 1.5;
  padding: 1rem 0 0 0;
  font-family: $base-font-family;
  font-weight: $normal;
  @include mq("md") {
    font-size: 1rem;
    padding: 1.875rem 0 0;
    letter-spacing: normal;
    line-height: 2.375;
  }
}
.works-nav__active span {
  display: inline-block;
  color: $tag;
  font-weight: $medium;
  padding: 0.3125rem 0.9375rem;
  line-height: 1.4;
  background-color: $label;
  font-size: 0.625rem;
  text-align: center;
  font-family: $base-font-family;
  width: auto-fit, minmax();
  white-space: nowrap;
  @include mq("md") {
    font-size: 0.6875rem;
    padding: 0.25rem 1.125rem;
    text-align: center;
    min-width: 5.6875rem;
  }
}

.works__contents--nav a {
  display: block;
  font-family: $base-font-family;
  line-height: 2;
  color: $black;
  font-size: 0.875rem;
  font-weight: $medium;
  margin-top: 1.25rem;
  position: relative;
  @include mq("md") {
    margin-top: 1.625rem;
    font-size: 1rem;
    line-height: 1.4375;
  }
}
.works-nav__datetime {
  display: block;
  color: $time;
  font-family: $base-font-family;
  font-size: 0.625rem;
  font-weight: $bold;
  @include mq("md") {
    font-size: 0.75rem;
  }
}
.works__contents .works__contents--nav {
  position: relative;
  display: block;
  margin-left: 1.125rem;
  padding-bottom: 1.25rem;
  @include mq("md") {
    padding-bottom: 1.875rem;
    margin-left: 0;
  }
}
.works__contents .works__contents--nav:not(:first-child) {
  padding-top: 1.25rem;
  @include mq("md") {
    padding-top: 1.875rem;
  }
}

/* 下線 */
.works-nav__active a::after {
  display: inline-block;
  content: "";
  position: absolute;
  right: 0.05rem;
  bottom: -4px;
  width: 100%;
  height: 1px;
  background-color: $black;
  padding-right: 0.5rem;
  transform: scaleX(0);
  transform-origin: left;
  /* ホバーを外したときは速く消える */
  transition: transform 0.5s ease-in;
  @include mq("md") {
    transform: scaleX(0);
  }
}
.works-nav__active a:hover::after {
  transform: scaleX(1); /* 下線を横方向に1倍、縦方向に1倍に変形（表示） */
}
.works__contents--jump {
  width: 81.8%;
  margin: 2.5rem auto 0;
  display: flex;
  align-items: center;
  @include mq("md") {
    margin: 1.875rem auto 0 0;
  }
}
