@use "../../global/" as *;

.main-fv.news--fv {
  height: 100%;
  position: relative;
  z-index: 1;
  padding-top: 0rem;
  @include mq("md") {
    padding-top: 5rem;
  }
}

.main-fv__container.news--fv__container {
  width: 100%;
  height: inherit;
  margin-top: 5rem;
  @include mq("md") {
    width: 88.19%;
    max-width: 1270px;
    margin: 0 0 0 auto;
  }
}
.news__all {
  margin-top: 1.875rem;
  @include mq("md") {
    margin-top: 3.75rem;
  }
}
.news__all--inner {
  max-width: 600px;
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include mq("md") {
    max-width: 1110px;
    flex-direction: row;
    padding: 0 1.25rem 0 1.25rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.news--fv__container picture {
  aspect-ratio: 365 /280;
  @include mq("md") {
    aspect-ratio: 1270 /514;
  }
}
.news__all--wrapper {
  display: flex;
  padding: 0 0.5rem;
  max-width: 600px;
  width: 100%;
  @include mq("md") {
    width: 22.6071103%;
    flex-direction: column;
    margin: 0 0 0 3.125rem;
  }
}
.news__all--informaition {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // 横並び
  justify-content: space-between;
  row-gap: 0.9375rem;
  column-gap: 3.375rem;
  width: 100%;
  padding: 0 0.875rem 2.375rem;
  border-bottom: 1px solid $border-card;
  @include mq("md") {
    display: flex;
    flex-direction: column;
    row-gap: initial;
    column-gap: initial;
    max-width: 154px;
    border-bottom: none;
  }
}
.news__all--informaition h2 {
  font-family: $base-font-family;
  font-size: 0.75rem;
  line-height: 1.4166666667;
  color: $black;
  position: relative;
  margin-right: 0.5rem;
  @include mq("md") {
    font-size: 0.875rem;
  }
}
.news__all--informaition p {
  font-family: $base-font-family;
  font-size: 0.75rem;
  line-height: 1.4166666667;
  color: $time;
  min-width: 132px;
  @include mq("md") {
    font-size: 0.875rem;
    min-width: 154px;
    margin-top: 1.25rem;
  }
}
.news__all--informaition h2::before {
  position: absolute;
  top: 0.375em;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  left: -0.75rem;
  background-color: $font;
  display: block;
}
.news__contents {
  margin-top: 1.25rem;
  width: 100%;
  @include mq("md") {
    margin-top: 0;
    height: 100%;
    width: 69.666%;
    padding-left: 3.75rem;
    border-left: 1px solid $border-card;
  }
}

.nav__card--heading {
  display: flex;
  align-items: center;
}
.nav__card--title {
  font-family: $base-font-family;
  font-weight: $medium;
  line-height: 2;
  padding-bottom: 1.25rem;
  margin-top: 1.25rem;
  font-size: 0.875rem;
  position: relative;
  @include mq("md") {
    font-size: 1.5rem;
    letter-spacing: normal;
    padding-right: 0.25rem;
    line-height: 1.458;
    margin-top: 1.875rem;
    padding-bottom: 0;
  }
  /* 下線 */
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 1px;
    background-color: $black;
    padding-right: 0.5rem;
    transform: scaleX(0);
    transform-origin: left;
    /* ホバーを外したときは速く消える */
    transition: transform 0.2s ease;
  }
}
/* works__cardをホバーしたら下線を伸ばす */
.nav__card:hover .nav__card-title::after {
  transform: scaleX(1);

  /* ホバーしたときはゆっくり伸びる */
  transition: transform 0.6s ease;
}
.nav__card--txt {
  color: $black;
  line-height: 1.5;
  padding: 1rem 0 0 0;
  font-family: $base-font-family;
  font-weight: $normal;
  @include mq("md") {
    font-size: 1rem;
    padding: 1.875rem 0 0;
    letter-spacing: normal;
    line-height: 2.375;
  }
}
.news-nav__active span {
  display: block;
  color: $tag;
  font-weight: $medium;
  padding: 0.3125rem 0.9375rem;
  line-height: 1.4;
  background-color: $label;
  font-size: 0.625rem;
  text-align: center;
  font-family: $base-font-family;
  width: auto-fit, minmax();
  white-space: nowrap;
  @include mq("md") {
    font-size: 0.6875rem;
    padding: 0.25rem 1.125rem;
    text-align: center;
    min-width: 7.25rem;
  }
}
.news-nav__active span:first-child {
  margin-left: 1.25rem;
  @include mq("md") {
    margin-left: 1.8125rem;
  }
}
.news-nav__active span:not(:first-child) {
  margin-left: 0.375rem;
  @include mq("md") {
    margin-left: 1.25rem;
  }
}
.news__contents--nav p {
  font-family: $base-font-family;
  color: $black;
  font-size: 0.875rem;
  font-weight: $medium;
  line-height: 2;
  margin-top: 1.25rem;
  @include mq("md") {
    margin-top: 1.625rem;
    font-size: 1rem;
    line-height: 1.4375;
  }
}
.news-nav__datetime {
  color: $time;
  font-family: $base-font-family;
  font-size: 0.625rem;
  font-weight: $bold;
  @include mq("md") {
    display: inline-block;
    font-size: 0.75rem;
  }
}
.news__contents--nav {
  margin-left: 1.125rem;
  border-bottom: 1px solid $border-card;
  padding-bottom: 1.25rem;
  @include mq("md") {
    padding-bottom: 1.875rem;
    margin-left: 3.125rem;
  }
}
.news__contents--nav:not(:first-child) {
  padding-top: 1.25rem;
  @include mq("md") {
    padding-top: 1.875rem;
  }
}
