@use "../global/" as *;

.blog {
    width: 100%;
    position: relative;
    @include mq("md") {
    &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 31.25rem;
    background-image: url("../../images/common/transparent-sea.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    z-index: -1;
    }
    }
}
.blog__wrapper{
    margin-top: 5rem;
    @include mq("md") {
        margin-top: 0;
        padding: 4rem 0;
    }
}
.blog__illust{
    @include mq("md") {
        position: absolute;
        background-image: url('../../images/common/fishes.png');
        background-repeat: no-repeat;
        background-position: center;
        left: 0;  // 仮
        background-size: cover;
        width: min(27.3125rem, 32%);
        aspect-ratio: 437/ 201;
        margin-top: 1.65rem;
        margin-left: 6.35rem;
    }
}
.blog__fishes-illust{
    @include mq("md") {
    position: absolute;
    background-image: url('../../images/common/fishes-to-right.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: min(18.75rem, 32%);
    aspect-ratio: 437/ 201;
    margin-top: 0rem;
    margin-left: 6.35rem;
    bottom: -6rem;
}
}

.blog__titles{
    position: relative;
    @include mq("md") {
        margin: 0 auto;
        padding: 0.25rem 0 0 0;
    }
}
.blog__title{
    font-family: $eng-fonts;
    font-size: 2rem;
    line-height: 1.25;
    color: $font-bk;
    text-transform: capitalize;
    text-align: center;
    position: relative;
    @include mq("md") {
        color: $white;
        font-size: 2.5rem;
        padding: 0 0.25rem 0 0.125rem;
    }

}
.blog__title::first-letter {
  color: $green;
  @include mq("md") {
    color: $white;
  }    
}
.blog__subtitle{
    font-family: $base-font-family;
    color: $green;
    font-size: 0.75rem;
    line-height: 1.5;
    text-align: center;
    margin-top: 0.25em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    @include mq("md") {
        color: $white;
        padding-left: 0;
        top: 2rem;
        margin-top: -0.125rem;
    }
}

.blog__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.25rem;
    @include mq("md") {
        display: grid;
        grid-template-columns:repeat(3, minmax(333px, 1fr));
        flex-direction: row;
        margin: 2.5rem auto;
        align-items: flex-start;
        gap: 2.5rem;
        justify-content: center;
        padding-top: 4.5rem;
    }
}
.blog__card{
    box-shadow: 2px 2px 8px rgba($black, 0.25);
    background-color: $white;
    padding: 1.5rem 1rem 0;
    width: 100%;
    transition: animation 0.5s ease;
    max-width: 600px;
    @include mq("md") {
        width: 333px;
        padding: 0.9875rem 0.875rem 0.45rem 0.875rem;
        max-width: 100%;
        aspect-ratio: 333 /447;
        height: 447px;
        overflow: visible;
    }

}
.blog__card:hover{
    animation: shake 0.5s infinite;
}
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  50% { transform: translateX(4px); }
  75% { transform: translateX(-4px); }
  100% { transform: translateX(0); }
}
.blog__card.blog__card-next{
    padding: 1rem 1rem 0.25rem;
    width: 100%;
    margin-top: 3rem;
    @include mq("md") {
        margin-top: 0;
        width: 333px;
        padding:  0.9875rem 1rem 0.45rem 0.875rem;
    }

}
.blog__card.blog__card-third{
    padding: 1rem 1rem 0.25rem;
    width: 100%;
    margin-top: 2.75rem;
    @include mq("md") {
        margin-top: 0;
        width: 333px;
        padding:  0.9875rem 1rem 0.45rem 0.875rem;
    }

}
.blog__card-images{
    position: relative;
    width: 100%;
}
.blog__card-images::before{
    content:"";
    display: block;
    padding-top: 66.777%;
}
.blog__card--image{
    display: block;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
.blog__card--contents{
    padding: 1rem 0 1.0625rem;
    @include mq("md") {
    padding: 1.125rem 0 1.0625rem 0;
    }
}
.blog__card--content{
    overflow: visible;
    @include mq("md") {
        aspect-ratio: 301 / 206;
    }
}
.blog__card-date{
    color: $font-bk;
    font-family: $eng-fonts;
    font-size: 0.75rem;
    line-height: 1.5;
}
.blog__card--titles{
    border-bottom: 1px solid $green;
    padding: 0.25rem 0 0.25rem 0;
    @include mq("md") {
     padding: 0 0 0.25rem 0;
    }
}
.blog__card--contents.blog__card--contents-next .blog__card--titles{
    border-bottom: 1px solid $green;
    padding: 0.125rem 0 0.125rem 0;
    @include mq("ｍｄ") {
     padding: 0 0 0.25rem 0;
    }
}
.blog__card-title{
    font-family: $base-font-family;
    font-weight: $medium;
}
.blog__card--line{
    border: none;
    border: 1px solid $green;
    line-height: 1;
}
.blog__card--txt{
    color: $font-bk;
    line-height: 1.5;
    padding: 1.125rem 0 0 0;
    letter-spacing: 0.005rem;
    font-family: $base-font-family;
    overflow: visible;
    @include mq("md") {
     padding: 0.875rem 0.25rem 0 0;
     aspect-ratio: 301 / 136;
    }
}
.blog__u-desktop{
    @include mq("md") {
        display: block;
    }
}
.common__btn.blog__btn{
    line-height: 1.25;
    margin-top: 2.35rem;
    padding: 0.875rem 2.25rem;
    @include mq("md") {
        margin: 5rem auto 0 -0.125rem;
        padding: 0.875rem 2.45rem;
    }
}
.blog__btn-wrap.common__btn-wrap{
    @include mq("md") {
        width: 12.725rem;
        margin: 0 auto;
    }
}
.common__btn-wrap.blog__btn-wrap::before{
    @include mq("md") {
        left:1px;
    }
}
