@use "../global/" as *;

.campaign{
    width: 100%;
    overflow: hidden;
}
.campaign__inner{
    padding: 1.25rem 0.9375rem 0;
    margin-top: 2.5rem;
    @include mq("md") {
        padding: 2.35em 0.9375rem;
        margin-top: 2rem;
        max-width: 1080px;
        margin-inline: auto;
    }
}
.campaign__container{
    @include mq("md") {
        margin-top: 1rem;
        padding: 0;
    }
}
.campaign__head {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: flex-end;
  position: relative;
}
.campaign__title.common-title{
    font-weight: $regular;
    @include mq("md") {
        padding-left: 0;
    }
}
.campaign__navigation {
  display: none;
  @include mq("md") {
    display: flex;
    gap: 1rem;
    align-items: center;
    min-width: 240px;
    margin-top: 2.106875rem;
  }
}

.campaign-button-prev,
.campaign-button-next {
    display: none;
    @include mq("md") {
    display: block;   
    position: relative;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    }
}
.campaign-button-next{
    @include mq("md") {
        margin-left: 4rem;
        background-image: url('../../images/common/campaign-next.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
.campaign-button-prev{
    @include mq("md") {
        background-image: url('../../images/common/campaign-prev.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.campaign__contents{
    position: relative;
    // margin-top: 0.75rem;
    margin-top: 1.125rem;
    padding: 0 0 0.5rem 0;
    @include mq("md") {
        margin-top: 1.5rem;
    }
}

.campaign__slider {
    @include mq("md") {
        padding-left: calc((50vw - 1080px) / 2);
    }
}
.contents__inner.swiper2 {
    padding: 3.25rem 0 1.5rem ;
    @include mq("md") {
        width: calc(50vw + 540px);
        padding: 0;
    }
}
.slide__block{
    width: 100%;
    padding: 1rem;
    @include mq("md") {
        padding: 1.5rem 1rem;
    }
}
.slide__container{
    padding-top: 0.75rem;
    @include mq("md") {
    padding-top: 0.65rem;
    }
}
.slide__block-title{
    display: inline-block;
    color: $green;
    border: $green solid 1px;
    padding: 0.25rem;
    line-height: 1.8333;
    font-size: 0.75rem;
    font-family: $base-font-family;
    width: 6.75rem;
    text-align: center;
    white-space: nowrap;
    @include mq("md") {
        padding: 0.25rem 0.75rem;
    }
    @include mq("md") {
        width: 7.25rem;
        padding: 0.35rem 0.75rem 0.25rem;
    }
}
.slide__block-title.slide__block-title2{
    display: inline-block;
    color: $green;
    border: $green solid 1px;
    padding: 0.25rem;
    line-height: 1.8333;
    font-size: 0.75rem;
    font-family: $base-font-family;
    width: 7.5rem;
    min-width: 120px;
    text-align: center;
    white-space: nowrap;
     @include mq("md") {
    width: 7.5rem;
    padding: 0.25rem 0.75rem 0.25rem;
    }
}
.slide__block-txt{
    color: $skelton;
    line-height: 1.5;
    font-family: $base-font-family;
    font-weight: $medium;
    line-height: 1.5;
    margin-top: 4px;
    @include mq("md") {
    }
}
.slide__line{
    border: none;
    border-top: $green 1px solid;
}

.slide__text{
    color: $skelton;
    font-size: 0.875rem;
    line-height: 1.1714;
    text-align: center;
    font-family: $base-font-family;
    @include mq("md") {
        font-size: 1rem;
        width: 100%;
        text-align: left;
        padding: 0.5rem 1rem 0 3.5rem;
    }
}
.slide__prices{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 0.225rem 0.5rem 0;
    @include mq("md") {
    padding: 0 0.5rem;
    }
}
.slide__discount{
    display: inline-block;
    text-decoration: line-through $red;
    text-decoration-thickness: 3px;
    font-family: $lato-font;
    font-size: 1.25rem;
    letter-spacing: 0.04em;
    padding-bottom: 0.25rem;
    font-weight: $bold;
    @include mq("md") {
        font-size: 1.5rem;
    }
}
/* 個別指定に変更する */
.slide__discount {
  text-decoration-line: line-through;
  text-decoration-color: $red;
  text-decoration-thickness: 3px;
}
.slide__plice{
    display: inline-block;
    color: $green;
    font-size: 2rem;
    font-weight: $bold;
    font-family: $lato-font;
    @include mq("md") {
    font-size: 2.5rem;
    }
}
.swiper-slide.slide-content{
    padding: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 8px rgba($black, 0.25);
}
.campaign__btn.common__btn {
    margin-top: 0rem;
    padding: 0.875rem 2.25rem;
    @include mq("md") {
        margin-top: 4rem;
    }
}
.campaign__viewmore.common__btn-wrap{
    @include mq("md") {
        width: 12.725rem;
    }
}
