@use "../global/" as *;

.read-more{
    font-family: $eng-fonts;
    text-transform: uppercase;
    color: $font;
    font-size: 0.875rem;
    width: fit-content;
    display: inline-block;
    transform: scaleY(0.9);
    letter-spacing: 0.04em;
    @include mq("md") {
        font-size: 1rem;
    }
}
/* 下線のスタイル */
.read-more::after {
  background-color: $font; /* 下線の色 */
  bottom: -4px; /* 要素の下端からの距離 */
  content: ""; /* 要素に内容を追加 */
  height: 1px; /* 下線の高さ */
  left: 0; /* 要素の左端からの距離 */
  position: absolute; /* 絶対位置指定 */
  transform: scale(0, 1); /* 下線を横方向に0倍、縦方向に1倍に変形（非表示） */
  transform-origin: left top; /* 変形の原点を左上に指定 */
  transition: transform .3s; /* 変形をアニメーション化 */
  width: 5.25rem; /* 要素の幅 */
  @include mq("md") {
    width: 5.75rem;
  }
}
.read-more:hover::after {
  transform: scale(1, 1); /* 下線を横方向に1倍、縦方向に1倍に変形（表示） */
}
.common-link-btn {
    display: block;
    line-height: 1.142;
    letter-spacing: 0.01em;

}
.read-more--arrow{
    position: relative;
    display: inline-block;
    width: 5px;
    height: 9px;
    margin-left: 0.625rem;
    transform: translateX(0);
    transition: transform 0.3s ease;
}
.read-more--arrow::before,
.read-more--arrow::after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  right: 0;
  height: 1.5px;
  border-radius: 9999px;
  background-color: $font;
}

.read-more--arrow::before {
  width: 7.5px;
  transform: rotate(45deg);
  transform-origin: calc(100% - 1px) 50%;
}

.read-more--arrow::after {
  width: 8px;
  transform: rotate(-45deg);
  transform-origin: calc(90% + 1px) 50%;
}
.common-link-btn:hover .read-more--arrow {
    transform: translateX(5px);
}

.read-more__square{
  position: relative;
  border: 1px solid $main-blue;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  margin-top: 1.25rem;
  display: flex;
  width: 8.875rem;
  justify-content: flex-end;
  margin-left: auto;
  align-items: center;

}
.read-more__square-txt{
  display: inline-block;
  text-transform: uppercase;
  color: $main-blue;
  font-family: $eng-fonts;
  transform: scaleY(0.7);
  font-weight: $normal;
}
.read-more-bx--arrow{
    position: relative;
    display: inline-block;
    width: 6px;
    height: 11px;
    margin-left: 0.625rem;
    transform: translateX(0);
    transition: transform 0.3s ease;
}
.read-more-bx--arrow::before,
.read-more-bx--arrow::after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  right: 0;
  height: 1.5px;
  border-radius: 9999px;
  background-color: $font;
}

.read-more-bx--arrow::before {
  width: 7.5px;
  transform: rotate(45deg);
  transform-origin: calc(100% - 1px) 50%;
}

.read-more-bx--arrow::after {
  width: 8px;
  transform: rotate(-45deg);
  transform-origin: calc(90% + 1px) 50%;
}
