@use "../global/" as *;

.contact{
    width: 100%;
    position: relative;
    z-index: 0;
}
.contact__inner{
    padding: 4.5rem 0 6.25rem; 
    @include mq("md") {
    padding: 5rem 0 6.25rem; 
    }
}
.contact__container{
    @include mq("md") {
    padding: 0 clamp(1rem, 2%, 2rem);
    }
}
.contact__wrapper{
    display: flex;
    flex-direction: column;

    @include mq("md") {
        flex-direction: row;
        align-items: flex-start;
        max-width: $inner;
        box-shadow: 4px 4px 10px rgba($black, 0.25);

        padding: 4rem 0 3.75rem;
        min-width: 0;
    }

}
.contact__titles{
    @include mq("md") {
        width: 50%; 
        padding-right: 3.25rem;
        padding-left: 3.125rem;
    }
}
