@use "../global/" as *;

.contact{
    width: 100%;
    position: relative;
    z-index: 0;
}

.contact__inner{
    padding: 4.5rem 0 6.25rem; 
    @include mq("md") {
    padding: 5rem 0 6.25rem; 
    }
}
.contact__container{
    @include mq("md") {
    padding: 0 clamp(1rem, 2%, 2rem);
    }

}
.contact__wrapper{
    display: flex;
    flex-direction: column;

    @include mq("md") {
        flex-direction: row;
        align-items: flex-start;
        max-width: $inner;
        box-shadow: 4px 4px 10px rgba($black, 0.25);

        padding: 4rem 0 3.75rem;
        min-width: 0;
    }

}
.contact__titles{
    @include mq("md") {
        width: 50%; 
        padding-right: 3.25rem;
        padding-left: 3.125rem;
    }
}
.contact__head{
    width: 100%;
    padding: 0.5rem;
    border-bottom: 1px solid $green;
    padding: 0.5rem;
    box-shadow: 0 8px 6px -8px rgba($font-bk, 0.2);
    @include mq("md") {
    box-shadow: none;
    padding: 1rem 0.25rem 0.5rem 0.5rem;
    }
}

.contact__title-green{
    display: block;
    width: 10.875rem;
    margin: 0 auto;
    filter: drop-shadow(0 4px 4px rgba($font-bk, 0.28));
    object-fit: cover;
    @include mq("md") {
        filter: none;
        display: block;
        width: 12.5rem;
    }
}
.contact__illust{
    position: absolute;
    width: clamp(6.8125rem, 18vw, 10rem);
    background-image: url('../../images/common/contact-fish.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    right: 1rem;
    top: 3.5rem;
    height: auto;
    aspect-ratio: (109 /50);

    @include mq("md") {
    aspect-ratio: (301 /138);
    width: max(18.8125rem, 22%);
    right: 2.75rem;
    top: 6.25rem;
    bottom: 3.5rem;
    z-index: 1;
    }
}
.contact__descriptions{
    display: flex;
    flex-direction: column;
    padding: 0.875rem 0;
    @include mq("md") {
        flex-direction: row;
        padding: 1.5rem 0;
    }
}
.contact__description{
    font-family: $base-font-family;
    display: inline-block;
    color: $font-bk;
    text-align: center;
    line-height: 1.5;
    text-shadow: 1px 1px 1px rgba($font-bk, 0.28);
    width: 100%;
    padding: 0 0.45rem 0 0;
    @include mq("md") {
        letter-spacing: normal;
        width: auto;
        text-align: left;
        text-shadow: none;
        padding: 0;
    }
}
.contact__description.contact__time{
    padding: 0 0.25rem 0 0;
    @include mq("md") {
        line-height: 1.25;
        padding: 0;
    }
}
.contact__description.contact__tel{
     padding: 0 0.25rem 0 0;
    @include mq("md") {
        line-height: 1.25;
        padding: 0;
    }
}
.contact__description:not(:first-child){
    padding-top: 0.25rem;
}
.contact__telphone{
    color: $font-bk;
    text-align: center;
    line-height: 1.5;
    text-shadow: 1px 1px 1px rgba($font-bk, 0.28);
    @include mq("md") {
        font-size: 1rem;
        letter-spacing: normal;
        display: inline-block;
        text-align: left;
        text-shadow: none;
    }
}
.contact__content{
    @include mq("md") {
        margin-top: 0rem;
        max-width: 150px;
        width: 55%;
    }
}
.contact__map{
    background-color: rgb(203, 203, 203);
    width: 100%;
    box-shadow: 0 8px 6px -8px rgba($font-bk, 0.2);
    margin-top: 1rem;
    max-width: 295px;
    margin: 0.875rem auto 0;
    aspect-ratio: 295/ 163;
    @include mq("md") {
    margin: 0 0 0 1.125rem;
    box-shadow: none;
    aspect-ratio: 273 / 148;
    }
}
.contact__btns{
    width: 100%;
    @include mq("md") {
        aspect-ratio: (477 / 295);
        margin-top: 0;
        // padding-left: 0;
        width: 45%;
        margin-left: 2.125rem;
        padding: 1.5rem 0 0;
    }
}
.contact__title-btn.common-btn{
    font-size: 5rem;
    text-transform: capitalize;
    color: $font-bk;
    font-family: $eng-fonts;
    line-height: 1.571;
    text-align: center;
    font-weight: $regular;
    text-shadow:  2px 4px 6px rgba($font-bk, 0.2);
    @include mq("md") {
        font-size: 5rem;
        text-shadow: none;
        margin-top: -0.75rem;
        margin-left: -0.65rem;
        }
}
.contact__btns--wrapper{
    @include mq("md") {
    border-left:1px solid $green;
    aspect-ratio: 477 / 255;
    }
}
.contact__title-btn::first-letter{
    color: $green;
}
.contact__subtitle{
    font-family: $base-font-family;
    color: $green;
    font-size: 0.75rem;
    line-height: 1.5;
    width: fit-content;
    margin: -1.75rem auto 0;
    text-align: center;
    top: 0;
    text-shadow: 2px 2px 6px rgba($font-bk, 0.2);
    @include mq("md") {
        font-weight: $regular;
        width: 100%;
        text-shadow: none;
        font-size: 0.75rem;
        margin: -1.725rem auto 0 auto;
        padding-right: 0.5rem;
    }
}
.contact__guide{
    font-family: $base-font-family;
    color: $green;
    font-size: 0.875rem;
    line-height: 1.5;
    text-align: center;
    top: 0;
    margin-top: 0rem;
    text-shadow:  2px 2px 6px rgba($font-bk, 0.4);
    @include mq("md") {
        margin-top: 0.45rem;
        // padding-left: 0.25rem;
        margin-right: 0.5rem;
        text-shadow: none;
    }
}
.contact__btn-wrap.common__btn-wrap{
      &::before {
    box-shadow: 4px 8px 4px -5px rgba($font-bk, 0.4);
    @include mq("md") {
    box-shadow: none;
    }
    }
}
.contact__btn-wrap.common__btn-wrap::before{
    @include mq("md") {
        left: -2px;
    }
}
.common__btn.contact__btn{
    @include mq("md") {
        margin: 2.5rem 0.5rem 0 -0.5rem;
        padding: 0.875rem 2.45rem;
    }
}
