@use "../global/" as *;

.footer{
    width: 100%;
    background-color: $green;
    padding: 3rem 0 2.5rem;
}
.footer__wrapper{
    @include mq("md") {
    padding: 0 clamp(0.75rem, 2%, 1.25rem);
    }
   
}
.footer__titles{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
     @include mq("md") {
    max-width: 100%;
    margin: 0;
    flex-direction: row;
    padding: 0 clamp(1rem, 1%, 6.5rem);
    }
}
.footer__title {
    width: 7.5rem;
    @include mq("md") {
        width: 12.5rem;
        margin-left: clamp(1.5rem, 3%, 2rem);
    }
}
.footer__title .footer__img {
    width: 100%;
}
.footer__sns{
    display: flex;
    align-items: center;
    margin-top: 1.25rem;
    @include mq("md") {
        margin-left: 1.25rem;
        margin-top: 1.75rem;
    }
}
.footer__sns-facebook{
    display: inline-block;
    width: 1.5rem;
    aspect-ratio: 1;
    @include mq("md") {
        width: 1.625rem;
    }
}
.footer__sns-insta{
    display: inline-block;
    width: 1.5rem;
    aspect-ratio: 1;
    margin-left: 1rem;
        @include mq("md") {
        width: 1.625rem;
        margin-left: 1.35rem;
    }
}
.footer__sns-logo{
    display: block;
    width: 1.21875rem;
    margin: 0 auto;
    aspect-ratio: 1;
        @include mq("md") {
        width: 1.625rem;
    }
}
.footer__global-navigations{
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    @include mq("lg") {
        max-width: $inner;
    }
}
.footer__navigations{
    display: flex;
    flex-direction: column;
    width: 50%;
    @include mq("md") {
        flex-direction: row;
        width: 100%;
    }
}
.footer-content.footer__navigation-second{
    padding-top: 0.75rem;
     @include mq("md") {
        width: 50%;
        margin: 0;
    }
}
.footer__item,
.footer__item a,
.footer__link,
.footer__link-mail{
  max-width: 100%;
  box-sizing: border-box;
  display: block;
}
.footer__link.footer__rental{
    @include mq("md") {
        padding-left: 0.25rem;
    }
}
.footer__link:hover{
    opacity: 0.6;
}
.footer__inner-content{
    padding: 0rem 0.9375rem 0 1.125rem;
    margin: 1rem 0 0 0.25rem;
    @include mq("md") {
    margin: 1.5rem 0 0 0;
    padding: 0rem 0.9375rem 0 0.625rem;
    }
}
.footer__inner-content.footer__inner-content--license{
    padding: 0.25rem 0.9375rem 0 1.125rem;
    margin-top: 0.875rem;
    @include mq("md") {
    margin: 1.125rem 0 0.125rem 0.35rem;
    padding: 0rem 0.9375rem;
    }

}
.footer__inner-content.footer__inner-content--license2{
    padding: 0 0.9375rem 0 1.125rem;
    margin: 0.75rem 0 0 0.25rem;

    @include mq("md") {
    margin: 1.15rem 0 0.125rem 0.25rem;
    padding: 0rem 0.9375rem;
    }

}
.footer__inner-content.footer__inner-content--license3{
    padding: 0 0.9375rem 0 1.125rem;
    margin: 0.75rem 0 0 0.25rem;

    @include mq("md") {
    margin: 1.25rem 0 0.125rem 0.125rem;
    padding: 0rem 0.9375rem;
    }
}
.footer__items{
    padding: 0;
}

.footer-content{
    color: $white;
    height: 100%;
    @include mq("md") {
        width: 50%;
        margin: 0 auto;
    }
}
.footer-content.footer__navigation-1st{
    padding-top: 0.875rem;
    @include mq("md") {
        padding-top: 0;
    }
}
.footer-content.footer-content-space{
    @include mq("md") {
        padding-top: 0.5rem;
        padding-left: 0.875rem;
    }
}
.footer__logo{
    display: block;
    width: 1.125rem;
    height: 1.125rem;
}
.footer__link-main{
    font-size: 1rem;
    font-family: $base-font-family;
    font-weight: $bold;
    padding-top: 0.25rem;
    display: inline-block;
    line-height: 1.1;
    @include mq("md") {
    padding-top: 0;
    }
}
.footer__content.footer__link-main{
    padding-top: 0.5rem;
     @include mq("md") {
    padding-top: 0;
    }
}
.footer__content.footer__link-main-pri {
    display: flex;
    flex-direction: column;
    @include mq("md") {
    flex-direction: row;
    padding: 0 0.6875rem 0 0.25rem;
    }
}
.footer__link-main.footer__link-main-main{
    padding: 0 0 0 0.25rem;
    @include mq("md") {
    padding: 0 0.25rem;
    }
}

.footer__link-main-pri{
    display: flex;
    flex-direction: column;
    @include mq("md") {
        flex-direction: row;
    }
}
.footer__second {
  display: block;
  margin-top: -0.875em;
  @include mq("md") {
    margin-top: 0rem;
  }

}
.footer__link-content{
    padding-top: 0.25rem;
    font-family: $base-font-family;
    font-size: 1rem;
    display: inline-block;
    white-space: nowrap;
    @include mq("md") {
    padding-top: 0;
    }
}

.footer__link-content.footer__study2{
    font-family: $base-font-family;
    font-size: 1rem;
    // font-weight: $bold;
    display: inline-block;
    white-space: nowrap;
    padding: 0.5rem 0.9375rem 0 0;
    @include mq("md") {
        padding: 0 0.9375rem 0 0.25rem;
    }
}

.footer__link-content.footer__link-main-contact{
    font-family: $base-font-family;
    font-size: 1rem;
    display: inline-block;
    white-space: nowrap;
    padding: 1rem 0.9375rem 0 0;
    @include mq("md") {
    margin-left: 0;
    padding: 0.5rem 0.9375rem 0 0.1875rem;
    }

}
.footer__link-content.footer__link-main-contact.footer__link-main{
    @include mq("md") {
        margin-left: 0.25rem;
    }
}
.footer__link-content.footer__link-content2{
    padding-top: 0rem;
    @include mq("md") {
    padding: 0 0 0 0.75rem;
    }
    font-family: $base-font-family;
    font-size: 1rem;
    display: inline-block;
    white-space: nowrap;

}
.footer__link-content.footer__link-main-star{
    padding: 0.5rem 0.9375rem 0 0.25rem;
    font-weight: $bold;
    @include mq("md") {
    padding: 0rem 0.9375rem 0 0.25rem;
    margin: 0.25rem 0 0 0rem;
    }
}
.footer__content.footer__link-main-star2{
    @include mq("md") {
    padding: 0 0.6875rem;
    }
}
.footer__link-content.footer__link-main-star2{
    padding: 0rem 0.9375rem 0 0.25rem;
    @include mq("md") {
    padding: 0rem 0.9375rem;
    margin: 0rem 0 0 0rem;
    }
}
.footer__inner-content.footer__link-main-star2{
    padding: 0.25rem 1.125rem 0 1.125rem;

    @include mq("md") {
    margin: 1.125rem 0 0.125rem 0rem;
    padding: 0rem 0.9375rem 0 1.125rem;
    }
}
.footer__item.footer__head,
.footer__item.footer__head-content
{
    margin-top: 1.45rem;
    @include mq("md") {
        margin-top: 1.25rem;
    }
}
.footer__item.footer__head.footer__star{
    margin-top: 1.65rem;
    @include mq("md") {
        margin-top: 1.25rem;
    }
}
.footer__item.footer__head.footer__head-price{
     margin-top: 2rem;
     padding-top: 0.5rem;
    @include mq("md") {
    margin-top: 1.25rem;
    } 
}
.footer__item.footer__head2{
    margin-top: 1.65rem; // 仮
    @include mq("md") {
        margin-top: 0;
        padding-top: 0.75rem;
    }
}
.footer__item.footer__head3{
    margin-top: 1.75rem; 
    @include mq("md") {
        margin-top: 0;
        padding-top: 0.75rem;
    }
}
.footer__item.footer__head2.footer__pri{
    @include mq("md") {
        padding-top: 0.5rem;
        margin-top: 1.25rem;  
    }
}
.footer__head.footer__head-div{
    margin-top: 2.5rem;
    @include mq("md") {
        margin-top: 0.75rem;
    }
}
.footer__head.footer__star{
    @include mq("md") {
        margin-top: 1.25rem;
        padding-bottom: 0.25rem;
    }
}

.footer__head.footer__star2{
    margin-top: 2rem;
}
.footer__item.footer__head.footer__star-law{
    margin-top: 2rem;
    @include mq("md") {
        margin-top: 1.25rem;
    }

}
.footer__item.footer__head3.footer__star-law{
    margin-top: 2rem;
    @include mq("md") {
        margin-top: 1.25rem;
    }

}
.footer__link.footer__link-title{
    position: relative;
    display: flex;
    align-items: center;
}
.footer__item.footer__head-content{
    padding: 0 0 0 1.375rem;
    @include mq("md") {
    font-weight: $regular;
    }
}
.footer__copyrights{
    margin: 2.5rem auto 0;
    width: 100%;
    max-width: 600px;
    padding: 0 0.875rem;
    @include mq("md") {
        padding: 0 0.5rem;
        max-width: 100%;
    }
}
.footer__copyright-txt{
    color: $white;
    width: 100%;
    font-family: $eng-fonts;
    font-size: 0.75rem;
    line-height: 1.5;
    font-weight: $regular;
    letter-spacing: 0.05em;
    text-align: justify;
    padding: 0 0.5rem 0 0;
    text-justify: inter-ideograph; 
 
    @include mq("md") {
        width: fit-content;
        line-height: 1.28;
        margin: 0 auto 0 auto;
        padding: 0 0.25rem 0 0;
        font-size: 0.875rem;
        text-justify: auto;
    }
}
.footer__sub{
    display: inline-block;
    letter-spacing: 0.15em;
    font-weight: $regular;
    @include mq("md") {
        letter-spacing: normal;
    }
}
.footer__navigations:not(:first-child){
    margin-left: 0.25rem;
    @include mq("md") {
        margin-left: 0;
    }
}
