@use "../global/" as *;

$drawer-width: 25px;
$drawer-height: 1px;
$drawer-color: $border;
$drawer-width-third: 15px;
$drawer-color-on: $white;

.hamberger {
  transition: 0.5s ease;
  width: 100%;
  height: inherit;
  cursor: pointer;
  position: relative;
  z-index: 2002;
}
.sp__menu.hamberger {
  display: block;
}
.hamberger .sp__menu--button {
  position: absolute;
  left: 0;
  display: block;
  z-index: 1001;
  height: $drawer-height;
  width: $drawer-width;
  background-color: $drawer-color;
  border-radius: 999px;
  transform-origin: left center;
  transition: ease-in-out 0.5s;
}

.sp__menu--button:first-child {
  top: 0rem;
}
.hamberger .sp__menu--button:nth-child(2) {
  top: 0.75rem;
}

.sp__menu--button:nth-child(3) {
  top: 1.5rem;
  width: $drawer-width-third;
}
.hamberger.active span:nth-of-type(1) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 1.125rem;
  background-color: $drawer-color-on;
}
.hamberger.active span:nth-of-type(2) {
  opacity: 0;
}
.hamberger.active span:nth-of-type(3) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: $drawer-width;
  top: 0rem;
  background-color: $drawer-color-on;
}
