@use "../global/" as *;

.header {
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 2.8s ease;
}
.header__inner{
  height: 5rem;
  @include mq("md") {
    height: 5.625rem;
  }
}
body.is-loaded .header{
  height: 5rem;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: -1.25rem;
  left: 0;
  right: 0;
  z-index: 9999;
  padding: 1.3125rem 0.9375rem;
  transform: translateY(20px);
  background-color: rgba($skelton, 0.68);
  visibility: visible;
  opacity: 1;
   @include mq("md") {
    height: 5.625em;
    top: 0;
    padding: 0 2.5rem;
    transform: translateY(0);
    justify-content: flex-start;
  }
}
body.is-loaded .header__inner{
  height: 5rem;
  @include mq("md") {
    height: 5.625rem;
  }
}
.header:has(.js-drawer.active) {
  background-color: $green;
}
.header.js-header{
  transition: background-color 0.3s ease;
}

.header__skelto {
  display: block;
  height: 5rem;
  @include mq("md") {
    height: inherit;
    padding: 1.25rem 0 0.5rem 0;
  }
}
.header__link{
  display: block;
  width: 6.375rem;
  padding-top: 1.25rem;
  height: inherit;
  @include mq("md") {
    padding-top: 0;
    width: 8.3125rem;
  }
}
.header__nav {
  display: none;
    &.is-active {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: space-between;
    max-width: 859px;
    width: 100%;
    margin-left: auto;
    padding: 0 0 0 0.75rem;
  }
}
.header__btns {
  position: fixed;
  display: flex;
  right: 0;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3rem;
  padding: 0.4375rem 0;
  z-index: 9999;
  margin-top: 0.5rem;
}



.header__navigation{
  display: none;
  @include mq("md"){
      display: block;
      height: 5rem;
      white-space: nowrap;
      padding: 0;
  }
}
.header__navigation:first-child{
    @include mq("md"){
        margin-left: 1.25rem;
    }
}
.header__navigation.header__navigation-link2{
  @include mq("md") {
    margin-left: clamp(2.5rem, 2vw, 3rem);
  }
}
.header__navigation.header__navigation-link3{
  @include mq("md") {
    margin-left: clamp(2.75rem, 2vw, 3rem);
  }
}
.header__navigation.header__navigation-link4{
  @include mq("md") {
    margin-left: clamp(3.5rem, 2vw, 3.75rem);
  }
}
.header__navigation.header__navigation-link5{
  @include mq("md") {
    margin-left: clamp(2.5rem, 2vw, 3rem);
  }
}
.header__navigation-link {
  display: none;
  @include mq("md"){
    position: relative;
    text-decoration: none;
    height: 5rem;
    max-width: 5.5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0 0;
  }
}
.header__navigation a::after{
  @include mq("md") {
    display: block;
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: $white;
    bottom: 0.875rem;
    transform: scale(0, 1);
    transform-origin: center top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
    transition: transform 0.3s;   /*変形の時間*/
  }

}

.header__navigation a:hover::after {
  @include mq("md") {
    transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
  }
}


.navigation__eng{
  display: none;
  @include mq("md") {
    color: $white;
    display: inline-block;
    text-align: center;
    font-family: $eng-fonts;
    text-transform: capitalize;
    font-size: 1.125rem;
    font-weight: $regular;
  }
}
.navigation__japan{
  display: none;
  @include mq("md") {
    color: $white;
    display: block;
    font-family: $base-font-family;
    font-size: 0.625rem;
    line-height: 1;
    text-align: center;
    padding: 0.25em 0 0;
  }
}
.navigation__japan.navigation__japan--info{
  display: none;
  @include mq("md") {
    color: $white;
    display: block;
    font-family: $base-font-family;
    font-size: 0.625rem;
    line-height: 1;
    text-align: right;
  }
}
.navigation__txt{
  display: none;
  @include mq("md") {
    color: $white;
    display: inline-block;
    font-family: $eng-fonts;
    font-weight: $regular;
  }
}
